/* Global heading styles */

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0 0 16px;

}

h2 {
  font-size: 24px;
  font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 1.6;
}